@model NewClaims
@{
    <div class="text-center">
        <h1 class="display-4" style="color:#b4b8d1;font-weight:bold">Lecturer Claims Page</h1>
        <p style="color:#b4b8d1;font-size:15px">Welcome to the Lecture Claims page here you can make claims as well as calculate what your months salary should be. </p>
        <br />
        <h2 style="color:#b4b8d1">Make A Claim Below:</h2>
        <br />

        <form method="post" enctype="multipart/form-data">

            <label for="LName" style="font-weight:bold;color:#263A47">Lecturer Name: </label>
            <input type="text" id="LName" name="LName" asp-for = "LName" style="background-color:#8496A2; border-radius:12px;color:#263A47; " />
            <span asp-validation-for="LName" class="text-danger"></span>
            <br />
            <br />

            <label for="LSurname" style="font-weight:bold;color:#263A47">Lecturer Surname: </label>
            <input type="text" id="LSurname" name="LSurname" asp-for="LSurname" style="background-color:#8496A2; border-radius:12px;color:#263A47; " />
            <span asp-validation-for="LSurname" class="text-danger"></span>
            <br />
            <br />

            <label for="LNumber" style="font-weight:bold;color:#263A47">Lecturer Number: </label>
            <input type="text" id="LNumber" name="LNumber" asp-for="LNumber" style="background-color:#8496A2; border-radius:12px;color:#263A47;" />
            <span asp-validation-for="LNumber" class="text-danger"></span>
            <br />
            <br />

            <label for="HWorked" style="font-weight:bold;color:#263A47">Hours Worked:</label>
            <input type="text" id="HWorked" name="HWorked" style="background-color:#8496A2; border-radius:12px;color:#263A47; " />
            <br />
            <br />

            <label></label>
            <label for="Begin" style="font-weight:bold;color:#263A47">From:</label>
            <input type="date" id="LBegin" name=" Begin" asp-for ="LStart" style="background-color:#8496A2; border-radius:12px;color:#263A47;width:150px;text-align:center " />
            <br />
            <br />
            <label for="End" style="font-weight:bold;color:#263A47"> Till:  </label>
            <input type="date" id="LEnd" name="End" asp-for ="LEnd" style="background-color:#8496A2; border-radius:12px;color:#263A47;width:150px;text-align:center" />
            <br />
            <br />

            <label for="SDoc" style="font-weight:bold;color:#263A47">Supporting Documents:</label>
            <br />
            <br />
            <input type="file" id="file" name="fileName" asp-for ="FileName" style="background-color:#8496A2; border-radius:12px;color:#263A47; font-weight:bold" />
            <span asp-validation-for="FileName" class="text-danger"></span>


            <button type="submit" style="background-color:#8496A2; border-radius:12px;color:#263A47; font-weight:bold">Upload Document</button>
            <br />
            <br />

            <button type="submit" style="background-color:#8496A2; border-radius:12px;color:#263A47; font-weight:bold" onclick="">Submit Claim</button>
        </form>

        <br />
        <br />

        <h2 style="color:#b4b8d1">Previous Claims Status</h2>
        <br />

        <table style="border:1px solid white;border-collapse:collapse" width="100%">
            <tr style="background-color: #8496A2; color:#263A47">
                <th>Claim id:</th>
                <th>Claim Month:</th>
                <th>Salary Amount:</th>
                <th>Claim Status:</th>
            </tr>
        </table>


    </div>

}
