@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Lecturer Claims Page</h1>
    <p>Welcome to the Lecture Claims page here you can make claims as well as calculate what your months salary should be. </p>
    <br />
    <h2>Make A Claim Below:</h2>

    <form>

        <label>Lecturer Name: </label>
        <input type="text" id="LName" name="LName"/>
        <br />
        <br />

        <label for="LSurname">Lecturer Surname: </label>
        <input type="text" id="LSurname" name="LSurname" />
        <br />
        <br />

        <label for="LNumber">Lecturer Number: </label>
        <input type="text" id="LNumber" name="LNumber" />
        <br />
        <br />

        <labeL for="Reason">Reason For Claim: </labeL>
        <br />
        <textarea type="text" id="reason" name="reason" style="height:150px; width:350px"></textarea>
        <br />
        <br />

        <label></label>
        <input type="file" id="file" name="file" />
        <button type="submit">Upload Document</button>
        <br />
        <br />
        <button type="submit">Submit Claim</button>
    </form>

    <br />
    <br />

    <form>
        <label>Lecturer Name: </label>
        <input type="text" id="LName" name="LName" />
        <br />
        <br />

        <label for="LSurname">Lecturer Surname: </label>
        <input type="text" id="LSurname" name="LSurname" />
        <br />
        <br />

        <label for="LNumber">Lecturer Number: </label>
        <input type="text" id="LNumber" name="LNumber" />
        <br />
        <br />

        <label></label>
        <input />
        <br />
        <br />
    </form>
</div>
